.main-card {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  background-color: rgba(228, 228, 238, 0.8);
  margin: 100px auto;
  padding: 10px;
  text-align: center;
}
.my-avatar {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 510px) {
  .main-card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .articles {
    flex-direction: column;
  }
}

.articles {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  background-color: rgba(228, 228, 238, 0.8);
  margin: 100px auto;
  padding: 10px;
  /* text-align: center; */
}
.articles img {
  display: block;
  margin: auto;
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
legend {
  border-bottom: 2px solid black;
  display: inline;
  width: fit-content;
}
.articles a {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 5px;
}
