* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
nav {
  min-height: 150px;
  background: rgb(160, 52, 160, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
body {
  position: relative;
}
body::before {
  content: "";
  background: url("../../img/beach.jpeg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  z-index: -1;
}

main {
  display: grid;
  grid-template-columns: minmax(auto, 700px);
}
