div.about {
  max-width: 1300px;
  border-radius: 4px;
  margin: 15px auto;
  padding: 15px 8px 22px;
  background-color: rgba(245, 242, 230, 0.33);
  font-size: 1.6em;
}
div.about h2 {
  margin-bottom: 6px;
}
