nav {
  min-height: 120px;
  background: rgba(245, 239, 245);
  width: 100%;
}

nav ul {
  width: 100%;
  font-size: large;
  padding: 5px;
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 2px 5px;
}
nav .title {
  font-family: cursive;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #e60073, 0 0 12px #e60073,
      0 0 11px #e60073, 0 0 13px #e60073, 0 0 15px #e60073;
  }

  to {
    text-shadow: 0 0 6px #fff, 0 0 8px #ff4da6, 0 0 12px #ff4da6,
      0 0 13px #ff4da6, 0 0 17px #ff4da6, 0 0 20px #ff4da6, 0 0 22px #ff4da6;
  }
}
